* {
  text-align: center;
  font-family: roboto;
  font-style: italic;
}

.div1 {
  margin: 50px;
}

.div2 {
  text-align: center;
  border: #48602c solid 4px;
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  background-color: #48602c;
  color: white;
  box-shadow: 0px 0px 30px grey;
}

.count {
  margin: 50px;
  padding: 10px;
  font-size: 40px;
  border-radius: 50px;
  color: #48602c;
  background-color: yellow;
}
.button1 {
  width: 300px;
  height: 100px;
  color: yellow;
  background-color: #48602c;
  border: none;
  border-radius: 50px;
  font-size: 40px;
}

.image {
  width: 400px;
}